<% content_for :page_title do %>
  Edit User: <%= @user.full_name %>
<% end %>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Edit User Information</h5>
  </div>
  <div class="card-body">
    <%= render 'form', user: @user %>
  </div>
</div>